{% extends "base.html" %}

{% block content %}
<style>
  body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #fdfdfd;
  }
</style>

<div class="container">
  <div class="row">
  	<div class="col-md-8 mt-3 left">
  		<div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center;">Contact Us</h2>
          <p class="card-text">Got some feedback or a new idea? Want to know more about us?</p>
			<p>We are willing to help our visitors every way possible, please drop an email at <strong>vinaysomawat@hotmail.com</strong></p><br><br>
			<p><strong>For Advertisement And Other Business Opportunities</strong></p>
			<hr>
			<p>If you have ideas on how we could work together, please email us at <strong>vinaysomawat@hotmail.com</strong>. We’d love to hear from you.</p>
			<p>Please note that we pride ourselves on following precise journalistic standards and ethics when doing our reviews and making recommendations. As such, our writers and editors maintain full editorial independence from our business operations.</p>
        </div>

      </div>
  	</div>
  	</div>
  </div>

{% endblock%}