{% extends "base.html" %}

{% block content %}
<style>
  body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    background-color: #fdfdfd;
  }
</style>

<div class="container">
  <div class="row">
  	<div class="col-md-8 mt-3 left">
  		<div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center;">Privacy Policy</h2>

          <p class="card-text">We at <strong>Programming Dairies</strong> respect privacy and your rights to control your personal data. Our principle guidelines are simple. We will be clear about the data we collect and why. We may also change this Policy from time to time so please check this page occasionally to ensure that you’re happy with any changes. By using our website, you’re agreeing to be bound by this Policy</p>
          <p>Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
          <br><br>
          <p><strong>Contact us</strong></p>
          <p>If you have any questions related to our policies, kindly contact us.</p>
        </div>

      </div>
  	</div>
  	</div>
  </div>

{% endblock%}